.grilla img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grilla {
    display: grid;  
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 200px;
    justify-content: center;
    grid-template-areas:
        "area1 area2 area3"
        "area4 area5 area6"
    ;
    gap: 10px;
}
    
.contenedor-1 {
    grid-area: area1;
}

.contenedor-2 {
    grid-area: area2;
}

.contenedor-3 {
    grid-area: area3;
}

.contenedor-4 {
    grid-area: area4;
}

.contenedor-5 {
    grid-area: area5;
}

.contenedor-6 {
    grid-area: area6;
}

